body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
 
.search-field:hover {
  outline: none;
  border: none;
}

.search-box {
  border: 1px solid rgb(3, 118, 211);
  border-radius: 5px;
}
.btn.btn-color.text-center.text-white {
  background-color: #414467;
}
 
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
 
.single-product {
  cursor: pointer;
  margin: 5px;
  padding: 30px 10px;
  border-radius: 10px;
  border: 1px solid #999;
   background-color: lightgray;
  transition: box-shadow 0.3s ease;
}
.single-product:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);  
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 170px;
  position: fixed;
  top: 0;
}
.cart-main {
  padding-right: 30px;
}
#details {
  background: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #9999;
  padding: 30px;
  text-align: center;
  margin: 20px 0;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.2);
  display: none;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
   
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
